{
    "APP_NAME": "Edufy",
    "BASE_URL": "",
    "GOOGLE_SIGNIN_ANDROID_CLIENT_ID": "",
    "GOOGLE_SIGNIN_IOS_CLIENT_ID": "",
    "GOOGLE_SIGNIN_SERVER_CLIENT_ID": "",
    "STRIPE_PUBLISHABLE_KEY": ""
}